body{background-color: darkgrey;
}

h1 {background-color: lightgrey;
text-align: center;
font-size: 80px;

}

.gallery-item{
	display: inline-block;
	background-color: beige;
	margin:25px;
	padding: 20px;
	border: 5px;
	border-color: black;
	border-radius: 20px;

}

.gallery-item img{
	max-width: 450px;
}

.lightbox img{
	min-width:400px;
	min-height:500px;
}


.lightbox {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	top:0;
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 50px;
	color:white;

}

.lightbox a{
	color:white;
	font-size: 20px;

}

.lightbox-close {
	float:right;

}

.lightbox-content{
	display: inline-block;

}

.lightbox-prev{
	float:left;
	text-align: center;

}

.lightbox-next{
	float:right;
	text-align: center;

}

.hidden {
	display: none;
}